
<div class="container">
  @for(pokemon of pokemons; track pokemon.name) {
    <div class="card" style="width: 18rem;">
      @if(pokemon.img){
        <img [src]="pokemon.img" class="card-img-top" alt="...">
      }
      @else {
        <img src="https://placehold.co/600x400?text=Preview+no+disponible" alt="">
      }
      <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-body">
        <button class="btn btn-success" (click)="addFav(pokemon)">Agregar Favorito</button>
      </div>
    </div>
  }
</div>





