
<button (click)="getNextPage()" class="bt btn-primary">Next</button>
<button (click)="getPreviousPage()" class="bt btn-primary">Back</button>
<div class="container">
  @for(pokemon of pokemons; track pokemon.name; let i = $index) {
    <div class="card" style="width: 18rem;">
      <img [src]="getPokemonImage(pokemon.url)" alt="{{ pokemon.name }}">
      <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-body">
        <button class="btn btn-success" (click)="addFav(pokemon)">Agregar Favorito</button>
        <button class="btn btn-success" [routerLink]="['/pokemon/' , pokemon.name]"> Ver detalles</button>
      </div>
    </div>
  }
</div>





