<div class="container d-flex flex-column align-items-center">
  <h2 class="text-center mb-4">Detalles del Pokémon</h2>
  <div class="card mb-3 position-relative" style="width: 540px;">
    <div class="row g-0">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="card mb-3">
          <img [src]="pokemon?.sprites?.front_default" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">{{pokemon?.name}}</h5>
          </div>
        </div>
        <div class="divider"></div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Estadísticas</h5>
              <p class="card-text custom-card-text">{{pokemon?.stats![0].stat.name}}  {{pokemon?.stats![0].base_stat}}</p>
              <p class="card-text custom-card-text">{{pokemon?.stats![1].stat.name}}  {{pokemon?.stats![1].base_stat}}</p>
              <p class="card-text custom-card-text">{{pokemon?.stats![2].stat.name}}  {{pokemon?.stats![2].base_stat}}</p>
              <p class="card-text custom-card-text">{{pokemon?.stats![3].stat.name}}  {{pokemon?.stats![3].base_stat}}</p>
              <p class="card-text custom-card-text">{{pokemon?.stats![4].stat.name}}  {{pokemon?.stats![4].base_stat}}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Habilidades</h5>
              <p class="card-text custom-card-text">Abilities: {{pokemon?.abilities![0].ability.name}}   {{pokemon?.abilities![1].ability.name}}</p>
              <p class="card-text custom-card-text"><small class="text-muted">Type: {{pokemon?.types![0].type.name}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
